@import url('https://fonts.googleapis.com/css?family=Allura|Montserrat:100,200,300,400,500,600,700,800,900|Muli:200,300,400,500,600,700,800,900&display=swap');


/* ------------------------------------------------------ Text/Font */

.header-banner--text {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 40px;
    word-spacing: -10px;
    letter-spacing: 5px;
}

.header-banner--photography-text {
    font-family: "Allura", sans-serif;
        letter-spacing: -1px;
}

a.nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: lowercase;
}

/* ------------------------------------------------------ Color */

.header-banner--text {
    color: #fff;
}

.header-banner--text:hover {
    color: rgba(255,255,255,0.75);
    text-decoration: none;
}
/* ------------------------------------------------------ Header */

.header-banner {
    background: url("../images/charlie.jpg") center 42% no-repeat;
    height: 200px;
    background-size: cover;
}

/* ------------------------------------------------------ Navbar */

nav.navbar {
    padding-right: 0;
    padding-left: 0;
}

.navbar-toggler {
    margin: 2px auto;
}

button.navbar-toggler {
    border: none;
}

button.navbar-toggler:focus {
    outline: none;
}

a.nav-link {
    margin-right: 20px;
    margin-left: 20px; 
}