@import url('https://fonts.googleapis.com/css?family=Allura|Montserrat:100,200,300,400,500,600,700,800,900|Muli:200,300,400,500,600,700,800,900&display=swap');


/* ------------------------------------------------------ Text/Font */

.header-banner--text {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 40px;
    word-spacing: -10px;
    letter-spacing: 5px;
}

.header-banner--photography-text {
    font-family: "Allura", sans-serif;
        letter-spacing: -1px;
}

a.nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: lowercase;
}

footer {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

/* ------------------------------------------------------ Color */

.header-banner--text {
   color:rgb(255, 255, 255);
}

.header-banner--text:hover {
    color: rgba(255,255,255,0.75);
    text-decoration: none;
}


.reviews-bg {
 background-color: #f0f0f0;
 height: 40vh;
}

.footer-bg {
    background-color:rgb(52, 58, 64);
}

.footer-copyright-text,
li.list-inline-item,
.footer-location-text {
    color: rgba(255,255,255,0.5);
}

li.list-inline-item:hover,
.footer-location-text:hover {
    color: rgba(255,255,255,0.75);
    text-decoration: none;
}
/* ------------------------------------------------------ Header */

.header-banner {
    background: url("../images/charlie.jpg") center 42% no-repeat;
    height: 200px;
    background-size: cover;
}

/* ------------------------------------------------------ Navbar */

nav.navbar {
    padding-right: 0;
    padding-left: 0;
}

.navbar-toggler {
    margin: 2px auto;
}

button.navbar-toggler {
    border: none;
}

button.navbar-toggler:focus {
    outline: none;
}

a.nav-link {
    margin-right: 20px;
    margin-left: 20px; 
}

/* ------------------------------------------------------ Footer */

footer.container-fluid {
    padding: 16px 100px;
}

.footer-copyright-text {
    margin: 0;
}


.col-lg-6 ul.list-inline {
    margin-bottom: 0;
}

li.list-inline-item {
    padding: 0 8px;
}

@media (min-width: 992px) {
.copyright-text-col {
    margin-top: 16px;
}
}

@media (max-width: 992px) {
.copyright-text-col,
.social-links-col {
    margin-top: 12px;
}
}

